@import url(bootstrap/bootstrap.min.css);
@import url(fontawesome/all.min.css);

body {
    background: #fafafa;
}

.menu {
    background: rgba(0,0,0,.3);
    transition: all linear .3s;
}
.menu .nav-item {
    padding: 5px 10px;
}
.menu .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 600;
    transition: all linear .3s; 
}
.menu .nav-link:hover, .menu .nav-link:focus {
    color: #f4f4f4;
} 
.menu .nav-free {
    background: #1976d2;
    border-radius: 5px;
}
.menu .nav-free .nav-link {
    color: white;
}
.menu .nav-cart {
    background: #0d47a1;
    border-radius: 5px;
}
.menu .nav-cart .nav-link {
    color: white;
}
.menu .active .nav-link {
    color: white;
}
.menu .navbar-toggler {
    color: white;
}

.presentation {
    position: relative;
    background: url(../img/bg.jpg) center no-repeat;
    background-size: 1920px auto;
    height: 580px; 
}
.presentation .mid {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.presentation button {
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    background: #1976d2; 
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all linear .2s;
}
.presentation button:hover, .presentation button:focus {
    background: #212121;
    outline: none 
}

main {
    position: relative;
}

#informations {
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 510px; 
    cursor: default;
}
#informations .info-grey {
    background: #2f3640;
    padding: 20px;
}
#informations .info-dark {
    background: #192a56;
    padding: 20px;
}
#informations .info-red {
    background: #273c75; 
    padding: 20px;
}
.info-grey, .info-dark, .info-red {
    transition: all linear .3s;
}
.info-grey:hover, .info-dark:hover, .info-red:hover {
    background: #212121!important;
    z-index: 999;
}
#informations .h4 {
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
}
#informations p { 
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.25);
}

#products {
    background: url(../images/bg_white.png);
    padding: 30px 0;
    padding-top: 95px;  
}

.product {
    position: relative;
    padding: 15px;
    background: #fff;
    border-top: solid 3px #1976d2;
    border-radius: 5px;
}
.product .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 19px;
    margin-bottom: 15px;
    font-weight: 600;
}
.product .prices {
    text-align: center;
}
.product .prices .old {
    font-size: 14px;
    text-decoration: line-through;
    color: gray;
}
.product .prices .atual {
    color: forestgreen;
    font-weight: 600;
    font-size: 30px; 
}
.product ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.product li {
    padding: 0;
}
.product .discount {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px; 
    background: #1976d2;
    color: white;
    border-radius: 0 0 0 5px;
    font-weight: 600;
    font-size: 12px;
}
.product button {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background: #1976d2;
    border-radius: 5px;
    transition: all linear .3s;
    cursor: pointer
}
.product button:hover, .product button:focus {
    background: #0d47a1;
    outline: none;
}

.gateways {
    padding:15px 0;
}
.gateways label {
    position: relative;
}
.gateways label > input {
    visibility: hidden;
    position: absolute;
}
.gateways label img {
    padding: 35px;
    max-height: 150px;
}
.gateways label > input + img {
    float: left;
    opacity: .5;
    background: #FFF;
    cursor: pointer;
    border: 1px solid #f4f4f4;
    padding:25px;
    transition: all 200ms ease;
}
.gateways input:checked + img {
    border: solid 1px #D9534F;
    opacity: 1;
}
.gateways label:hover > input + img {
    opacity: .9;
}
.gateways small {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #BBB;
    padding:5px 0;
    text-align: center;
}


footer {
    padding: 35px 0;
    background: #000;
    color: #616161;
}
footer a {
    color: #1976d2;
}
footer a:hover {
    text-decoration: none
}

.hidden { display: block; }

@media (max-width: 576px) {
    .hidden { display: none; }
}
@media (min-width: 576px) {
    .hidden { display: none; }
}
@media (min-width: 768px) {
    .hidden { display: none; }
}
@media (min-width: 992px) {
    .hidden { display: block; }
}
@media (min-width: 1200px) {
    .hidden { display: block; }
}
